*{padding: 0px; margin: 0px;color: rgb(43, 37, 141);
    font-family: sans-serif; box-sizing: border-box;
scroll-behavior: smooth;}

.bio{display: block;width: 40%;}
header{width: 100%;
    position: fixed;
    z-index: 1000;
    justify-content: space-between;
background-color: #f0f0f0;
display: flex;
align-items: center;
padding: 10px 200px;}
.logo{text-decoration: none;
color: #3a6cf4;
text-transform: uppercase;
font-weight: 700;
font-size: 1.8em;}

.navigation a{color: #3a6cf4;
text-decoration: none;
font-size: 1.1em;
font-weight: 500;
padding-left: 30px;}
.navigation a:hover{color: #601cfc;}

section{
    padding: 100px 200px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(beautiful-view-greenery-bridge-forest-perfect-background_181624-17827.avif)  no-repeat;
    background-size: cover;
    background-position: center ;
    
    
}


.main h2{
    color: white;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span{
    display: block;
    margin-top: 10px;
    color: #60c6d3;
    font-size: 3em;
    font-weight: 600;
}

.main h3{
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.button{

    color: white;
    background-color:#3a6cf4 ;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: block;
    padding: .9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    width: 250px;
    transition: .6s ease;
}

.button:hover{
    background-color: #0044ff;
    transform: scale(1.2);
}


.fa-brands{
    color: rgb(255, 255, 255);
    font-size: 1.7em;
   padding-right: 60px;
}

.title{display: flex;
justify-content: center;
color: #0044ff;
font-size: 2.2em;
font-weight: 800;
margin-bottom: 30px;}

.content{display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;}



.card{
    background-color: white;
width: 21.25em;
box-shadow: 0 5px 25px rgba(1 1 1 / 30%);
border-radius: 10px;
padding: 25px;
margin: 15px;
transition: .6s ease;
cursor: pointer;
}


.card:hover{
    transform: scale(1.2);

}


.icon{
    color: #0044ff;
    font-size: 8em;
    text-align: center;
}

.info{text-align: ;}

.info h3{

    color: #0044ff;
    font-size: 1.5em;
    font-weight: 700;
    margin: 10px;
}


.Projects{
    background-color: #000016;
}

.Projects .content{
    margin-top: 30px;
}

.project-card{
    background-color:#fff;
    border: 1px solid #fff;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: .7s ease;
    cursor: pointer;
}


.project-card:hover{
    transform: scale(1.1);
}

.project-image img{
    width: 100%;
}


.project-info{
    padding: 1em;
}

.project-category{
    font-size: .8em;
    color: #000;
}

.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details{
    text-decoration: none;
    color: #3a6cf4;
}

.more-details:hover{
    color: #601cfc;
}

.contact .icon{
    font-size: 4.5em;

}


.contact .info h3 {
    color: #000;
}

.mail{color: #000;}

.mobile{color: #000;}

.card{
text-align: center;}

.footer{
    background-color: #000016;
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title{
    color: #fff;
    font-size: 1.3em;
    font-size: 600;
}

.me{color: #3a6cf4;
}

@media (max-width:1023px){
    header{
        padding: 12px 20px ;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em
    }

    section {
        padding: 80px 20px;
    }

    .main-content h2{font-size: 1em;}

    .main-content h3{font-size: 1.6em;}

    .content{flex-direction: column;
    align-items: center;}
}

@media (max-width:641px){
    body{
        font-size: 12px;
    }
    .main-content h2
        {font-size: .8em;
        }

        .main-content h3{font-size: 1.4em;}
    }



    @media(max-width:300px){
        body{font-size: 10px;}
    }